body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.body-content{min-width: 200px;}
.container{min-width: 200px;}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.scrollable {
    overflow: scroll;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


@keyframes einmal {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

#mainintro {
    animation: einmal 2s 1;
    animation-fill-mode: forwards; /*animation passiert nur einmal*/
}

body, html { min-width:200px;}


