@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-12" style="margin-top:20px;">
        <h1 class="display-4" style="font-weight:bolder; ">@ViewBag.Title.</h1>
    </div>
</div>

<h2>@ViewBag.Message</h2>

<p>
    Der Titel ist ein Wortspiel und der Ursprung sollte sich dann doch,<br />nach ein wenig kurzem Nachdenken,
    aus dem Kontext des Sinn und Zwecks unserer Homepage ergeben.
    Wir hoffen auf jeden Fall das wir euch ueber die kultigsten Filme informieren koennen.<br />
    Und hoffen, dass wir euch eine gebuehrliche Auswahl zum Verleih anbieten koennen, <br />
    von denen ihr bestimmt noch nicht alle kennt.<br /><br />
    Viel Vergnuegen beim Durchstoebern.
</p>
<br />
<br />

<h2>FAQ - Frequently Asked Questions</h2><br />
@Html.ActionLink("How does the whole thing work?", "faq")
