
@{
    ViewBag.Title = "Administrate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





    <div class="container" id="mainintro">
        <div class="row">
            <div class="col-md-12" style="margin-top:20px;" >
                <h1 class="display-4" style="font-weight:bolder; ">Movie-Rentals</h1>
            </div>
        </div>
        <!--1. Zeile Beginn-->
        <div class="row">
            <div class="col-md-12">
                <h2 class="display-3" style="font-weight:100; text-decoration:underline"><emsp />Verwaltungsbereich</h2>
            </div>
        </div>
        <!--1. Zeile Ende-->
        <!--2. Zeile Beginn-->
        <div class="row">
            <div class="col-md-8">
                <h3>Filmbestand-Verwaltung</h3>
                <button type="button" class="btn btn-primary" style="min-width: 13em;" onclick="window.location.href ='/Movies/Create'">Neu</button>
                <button type="button" class="btn btn-warning" style="min-width: 13em;" onclick="window.location.href ='/Movies/Index'">Editieren</button>
                <button type="button" class="btn btn-danger" style="min-width: 13em;">Liste</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h3>Verleih-Uebersicht</h3>
                <button type="button" class="btn btn-primary" style="min-width: 13em;">Nach Kunde</button>
                <button type="button" class="btn btn-warning" style="min-width: 13em;">Nach Film</button>
                <button type="button" class="btn btn-danger" style="min-width: 13em;">Uebersicht</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h3>Film-Verleih</h3>
                <button type="button" class="btn btn-primary" style="min-width: 13em;">Verleih</button>
                <button type="button" class="btn btn-warning" style="min-width: 13em;">Verlaengerung</button>
                <button type="button" class="btn btn-danger" style="min-width: 13em;">Ruecknahme</button>
            </div>
        </div>

    </div>
