@{
    ViewBag.Title = "Contact";
}

    <div class="row">
        <div class="col-md-12" style="margin-top:20px;">
            <h1 class="display-4" style="font-weight:bolder; ">@ViewBag.Title.</h1>
        </div>
    </div>

<h2>@ViewBag.Message</h2>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>