@{
    ViewBag.Title = "Contact";
}

    <div class="row">
        <div class="col-md-12" style="margin-top:20px;">
            <h1 class="display-4" style="font-weight:bolder; ">@ViewBag.Title.</h1>
        </div>
    </div>

<h2>@ViewBag.Message</h2>

<address>
    Peter Patoschka<br />
    Sagerbachgasse 566<br />
    3571 Gars am Kamp<br />
    <abbr title="Phone">P:</abbr>
    0680-3323024
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:patoschkapeter@gmail.com">patoschkapeter@gmail.com</a><br />
</address>