
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>faq</title>
    <link href="~/plugin/lightbox/css/lightbox.css" rel="stylesheet" />

</head>
<body>
    <div>
        <h1><br /><br />  Hey! I am a rather shy application, but:</h1>
        <p>I'll show you a screenshot of my... folder Structure!:</p>
        <a class="example-image-link" href="~/Content/Images/popUP.png" data-lightbox="example-set" data-title="The Folder Structure">
            <img class="example-image" src="~/Content/Images/aspNETfolderStr.png" alt="The Folder Structure" style="max-width: 65vw;">
        </a>
    </div>
    <script src="~/plugin/lightbox/js/lightbox-plus-jquery.js"></script>
</body>
</html>
