@{
    ViewBag.Title = "Filmierung";
}

<div class="jumbotron">
    <h1>Filmierung</h1>
    <p class="lead">"Filmierung" ist eine Webplattform ueber Kultfilme und solche die es noch werden koennten.<br/>Des weiteren
    bieten wir eine Auswahl an Kultfilmen zum Verleih an.</p>
    <p><a href="https://de.wikipedia.org/wiki/Kultfilm" class="btn btn-primary btn-lg">KULTfilm &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>KULTfilm vs. FILMklassiker</h2>
        <p>
            Eine exakte Abgrenzung beider Begriffe ist nur schwer möglich. Für bestimmte Personengruppen kann ein Film gleichzeitig ein Kultfilm als auch ein Filmklassiker sein.
            Als Filmklassiker gelten häufig Filme, deren Erstaufführung vor mindestens 30 Jahren war, die sehr hohe Besucherzahlen in den Kinos hatten,<br/> die Maßstäbe in der Filmproduktion gesetzt haben, die mehrere Filmpreise gewinnen konnten oder noch heute eine messbare Bekanntheit haben.<br />
            <br/>
            Bekannte Beispiele sind Lichter der Großstadt, King Kong, Casablanca oder Der weiße Hai.
        </p>
        <p><a class="btn btn-default" href="http://www.bleyenberg.de/kultfilme/21.htm">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>KULTfilm in der ZEIT</h2>
        <p>
            Kultfilm als Zeichen des Zeitgeistes
            Vor allem im Laufe des Zeitgeistes der Jahrzehnte avancieren Filme – auch nachträglich – zu Kultfilmen.
            So wurden die Spielfilme mit dem Schauspieler James Dean wie etwa … denn sie wissen nicht, was sie tun von 1955 aufgrund der Handlung der Filme, wegen des Schauspielers sowie dessen frühem Tod zu Kultfilmen.
            Anfang der 1970er-Jahre wurde die Verfilmung Schulmädchen-Report: Was Eltern nicht für möglich halten – begleitet von massiver Kritik aus konservativen Kreisen – zu einem „Kultfilm der Aufklärung und Freizügigkeit“.
            Auf dem weltweiten Höhepunkt der Disco-Ära wurde für viele Jugendlichen der Film Saturday Night Fever durch das Filmthema, die Schauspieler und die Musik zu einem Kultfilm.
        </p>
        <p><a class="btn btn-default" href="https://www.stern.de/kultur/film/james-dean-nur-drei-hauptrollen-machten-ihn-zur-legende-3298300.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>underground-FILME</h2>
        <p>Undergroundfilme sind Kurzfilme oder Spielfilme, deren Entstehung und Rezeption im Wesentlichen unter Ausschluss einer breiten Öffentlichkeit stattfinden. 
            <br />Als Spielart des Independent-Films arbeiten die Filmemacher unabhängig von Filmstudios, Kinoverleihern oder Fernsehsendern und können ihre künstlerische 
           Vision ohne Einflussnahme verwirklichen. <br />Da den Produktionen oft nur geringe finanzielle Mittel zur Verfügung stehen, handelt es sich dabei meistens um No-Budget-Filme. 
           <br /><br />In Szenekreisen finden Undergroundfilme gelegentlich eine Anhängerschaft und werden so zu Kultfilmen.</p>
        <p><a class="btn btn-default" href="https://de.wikipedia.org/wiki/Undergroundfilm">Learn more &raquo;</a></p>
    </div>
</div>